section.banner
	.container
		.row
			.small-12.large-12.columns
				.banner-text-container
					h2 NEW SEASON ARRIVALS.
					span CHECK OUT ALL THE NEW TRENDS
					.row
						.small-12.large-12.column
							a.main-btn(href="#") Shop Now