footer.footer
	.container
		.row
			.small-12.large-4.columns
				.footer-contacts
					h3 Our Stores
					ul
						li
							a(href="#")
								address 1401 South Grand 	Avenue Los Angeles, CA 90015
								span (213) 748-2411 


						li
							a(href="#")
								address 1401 South Grand 	Avenue Los Angeles, CA 90015
								span (213) 748-2411
					.footer-social-links
						ul
							li
								a.facebook(href="")
							li
								a.tweeter(href="")
							li
								a.gmail(href="")
							li
								a.linkedIn(href="")
			.small-12.large-4.columns
				.footer-blog
					h3 Blog Posts
					ul
						li
							a(href="#")
								h4 Duis aute irure dolor in reprehenderit.
							p Duis aute irure dolor in reprehenderit. in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						li
							a(href="#")
								h4 Ut enim ad minim veniam.
							p Ut enim ad minim veniam. in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						li
							a(href="#")
								h4 officia deserunt mollit consectetur.
							p  in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			.small-12.large-4.columns
				.footer-support
					h3 Support
					ul
						li
							a(href="#") Terms & Conditions
						li
							a(href="#") FAQ
						li
							a(href="#") Payment
						li
							a(href="#") Refunds
						li
							a(href="#") Track Order
						li
							a(href="#") Services
						li
							a(href="#") Services
						li
							a(href="#") Press
						li
							a(href="#") Blog
						li
							a(href="#") About Us
						li
							a(href="#") Contact Us
		.row
			.small-12.large-12.columns
				.footer-underblock
					span.small-12.medium-6 © 2014 lashoopa.com  -  All Rights Reserved 
					ul.footer-underblock-payment
						li.visa
							a(href="#")
						li.mastercard
							a(href="#")