header(class="header")
	.header-top
		.container
			.row
					span.top-add-info-show.small-12.medium-12.columns(alt="something")
			.row
				section(class="top-add-info")
						ul(class="lang small-4 medium-4 columns")
							li
								a(href="#").no-event English
						ul(class="top-add-info-list small-8 medium-8 columns")
							li
								a(href="#") My Account
							li
								a(href="#") Find a Store
	.header-nav
		.container
			.row
				button(class="nav-toggle-button small-3 medium-3 columns")
					svg(width="31" height="15")
						line(x1="1" y1="1" x2="31" y2="1" stroke-width="1" stroke="#60606e")
						line(x1="1" y1="7" x2="15" y2="7" stroke-width="1" stroke="#60606e")
						line(x1="1" y1="14" x2="23" y2="14" stroke-width="1" stroke="#60606e")
				a.logo.small-12.medium-12.large-2.columns(href="#") GBF
				nav.desktop-main-nav
					ul.small-12.medium-7.columns
						li
							a(data-attr="has-drop-down" href="#") Men
							ol.desktop-main-nav-dropdown
								li 
									a(href="#") Accessories
								li 
									a(href="#") Bags
								li 
									a(href="#") Caps & Hats
								li 
									a(href="#") Hoodies & Sweatshirts
								li 
									a(href="#") Jackets & Coats
								li 
									a(href="#") Jewellery
								li 
									a(href="#") Jumpers & Cardigans
								li 
									a(href="#") Leather Jackets
								li 
									a(href="#") Long Sleeve T-Shirts
								li 
									a(href="#") Loungewear
								li 
									a(href="#") Shirts
								li 
									a(href="#") Shoes, Boots & Trainers
								li 
									a(href="#") Shorts
								li 
									a(href="#") Suits & Blazers
								li 
									a(href="#") Sunglasses
								li 
									a(href="#") Sweatpants
								li 
									a(href="#") Sweatpants
								li 
									a(href="#") Trousers & Chinos
								li 
									a(href="#") T-Shirts
								li 
									a(href="#") Underwear & Socks
								li 
									a(href="#") Vests
						li
							a(data-attr="has-drop-down" href="#") Women
							ol.desktop-main-nav-dropdown
								li 
									a(href="#") Accessories
								li 
									a(href="#") Bags
								li 
									a(href="#") Caps & Hats
								li 
									a(href="#") Hoodies & Sweatshirts
								li 
									a(href="#") Jackets & Coats
								li 
									a(href="#") Jeans
								li 
									a(href="#") Jewellery
								li 
									a(href="#") Jumpers & Cardigans
								li 
									a(href="#") Leather Jackets
								li 
									a(href="#") Long Sleeve T-Shirts
								li 
									a(href="#") Loungewear
								li 
									a(href="#") Shirts
								li 
									a(href="#") Shoes, Boots & Trainers
								li 
									a(href="#") Shorts
								li 
									a(href="#") Suits & Blazers
								li 
									a(href="#") Sunglasses
								li 
									a(href="#") Sweatpants
								li 
									a(href="#") Sweatpants
								li 
									a(href="#") Trousers & Chinos
								li 
									a(href="#") T-Shirts
								li 
									a(href="#") Underwear & Socks
								li 
									a(href="#") Vests
						li
							a(href="#") About
						li
							a(href="#") Blog
						li
							a(href="#") Support
				.small-6.medium-2.columns
					a.header-cart(href="#")
						p.header-cart-total-cost $255
