section.latest-product.product-slider
	.container
		.row
			.small-12.large-12.columns
				h3 Latest Products
		.row
			.small-12.large-12.columns
				.slider-wrap
					+product-item('sunt officia send deserunt', '$150', 'images/product/photo-1.jpg')
					+product-item('Duis aute irure dolor', '$650', 'images/product/photo-1.jpg', '-10%')
					+product-item('consectetur eiusmod elit', '$100', 'images/product/photo-1.jpg')
					+product-item('sunt officia send deserunt', '$150', 'images/product/photo-1.jpg')
					+product-item('Duis aute irure dolor', '$650', 'images/product/photo-1.jpg','-10%')
					+product-item('consectetur eiusmod elit', '$100', 'images/product/photo-1.jpg')