section.product-slider.populart-product
	.container
		.row
			.small-12.large-12.columns
				h3 Popular Products
		.row
			.small-12.large-12.columns
				.slider-wrap
					+product-item('dolore eu nulla pariatur', '$150', 'images/product/photo-1.jpg', '-68%')
					+product-item('enim ad minim veniam', '$650', 'images/product/photo-1.jpg')
					+product-item('Excepteur sint cupidatat', '$100', 'images/product/photo-1.jpg')
					+product-item('dolore eu nulla pariatur.', '$150', 'images/product/photo-1.jpg', '-68%')
					+product-item('enim ad minim veniam', '$650', 'images/product/photo-1.jpg')
					+product-item('Excepteur sint cupidatat', '$100', 'images/product/photo-1.jpg')