header(class="header")
	.header-top
		.container
			.row
					span.top-add-info-show.small-12.medium-12.columns(alt="something")
			.row
				section(class="top-add-info")
						ul(class="lang small-4 medium-4 columns")
							li
								a.no-event English
						ul(class="top-add-info-list small-8 medium-8 columns")
							li
								a My Account
							li
								a Find a Store
	.header-nav
		.container
			.row
				button(class="nav-toggle-button small-3 medium-3 columns")
					svg(width="31" height="15")
						line(x1="1" y1="1" x2="31" y2="1" stroke-width="1" stroke="#60606e")
						line(x1="1" y1="7" x2="15" y2="7" stroke-width="1" stroke="#60606e")
						line(x1="1" y1="14" x2="23" y2="14" stroke-width="1" stroke="#60606e")
				a.logo.small-12.medium-12.large-2.columns(href="#") GBF
				nav.desktop-main-nav
					ul.small-12.medium-7.columns
						li
							a(data-attr="has-drop-down") Men
							ol.desktop-main-nav-dropdown
								li 
									a Accessories
								li 
									a Bags
								li 
									a Caps & Hats
								li 
									a Hoodies & Sweatshirts
								li 
									a Jackets & Coats
								li 
									a Jewellery
								li 
									a Jumpers & Cardigans
								li 
									a Leather Jackets
								li 
									a Long Sleeve T-Shirts
								li 
									a Loungewear
								li 
									a Shirts
								li 
									a Shoes, Boots & Trainers
								li 
									a Shorts
								li 
									a Suits & Blazers
								li 
									a Sunglasses
								li 
									a Sweatpants
								li 
									a Sweatpants
								li 
									a Trousers & Chinos
								li 
									a T-Shirts
								li 
									a Underwear & Socks
								li 
									a Vests
						li
							a(data-attr="has-drop-down") Women
							ol.desktop-main-nav-dropdown
								li 
									a Accessories
								li 
									a Bags
								li 
									a Caps & Hats
								li 
									a Hoodies & Sweatshirts
								li 
									a Jackets & Coats
								li 
									a Jeans
								li 
									a Jewellery
								li 
									a Jumpers & Cardigans
								li 
									a Leather Jackets
								li 
									a Long Sleeve T-Shirts
								li 
									a Loungewear
								li 
									a Shirts
								li 
									a Shoes, Boots & Trainers
								li 
									a Shorts
								li 
									a Suits & Blazers
								li 
									a Sunglasses
								li 
									a Sweatpants
								li 
									a Sweatpants
								li 
									a Trousers & Chinos
								li 
									a T-Shirts
								li 
									a Underwear & Socks
								li 
									a Vests
						li
							a About
						li
							a Blog
						li
							a Support
				.small-6.medium-2.columns
					a.header-cart
						p.header-cart-total-cost $255
