include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
	head(lang="ru")
		include pug/metatags.pug
		+title('Главная')
		include pug/styles.pug
	body
		include pug/svg.pug
		nav#menu
			header
				a.logo GFB
				ul(class="vertical menu" data-accordion-menu)
					li
						a(href="#") Item 1
						ul.menu.vertical.nested
							li
								a(href="#") Item 1A
							li
								a(href="#") Item 1B
					li
						a(href="#") Item 2

		.wrapper#panel
			include pug/includes/header.pug
			main.content
				include pug/includes/banner.pug
				include pug/includes/latest-product.pug
				include pug/includes/recommended-product.pug
			include pug/includes/footer.pug

		include pug/scripts.pug
